@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--background: #ffffff;
--foreground: #171717;

--border: #e2e8f0;
--input: #e2e8f0;
--ring: #171717;

--primary: #0284c7;
--primary-foreground: #ffffff;

--secondary: #f1f5f9;
--secondary-foreground: #171717;

--accent: #f1f5f9;
--accent-foreground: #171717;

--destructive: #ef4444;
--destructive-foreground: #ffffff;

--muted: #f1f5f9;
--muted-foreground: #64748b;
}

@media (prefers-color-scheme: dark) {
:root {
--background: #0a0a0a;
--foreground: #ededed;

--border: #27272a;
--input: #27272a;
--ring: #ededed;

--primary: #0284c7;
--primary-foreground: #ffffff;

--secondary: #27272a;
--secondary-foreground: #ededed;

--accent: #27272a;
--accent-foreground: #ededed;

--destructive: #ef4444;
--destructive-foreground: #ffffff;

--muted: #27272a;
--muted-foreground: #a1a1aa;

}
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Elimina esta línea o usa las variables CSS para las fuentes Geist /
  / font-family: Arial, Helvetica, sans-serif; /
  font-family: var(--font-geist-sans), sans-serif; / Usa la variable CSS */

}